@import "../../vendor/styles/bourbon/bourbon";

@import "imports/variables";
@import "imports/fonts";
@import "imports/buttons";

@import "layouts/player";
@import "album";
@import "album_collection";
@import "user_profile";

body, html {
  // Allows us to set the min-height for child elements.
  height: 100%;
}

// Want the edges for Bootstrap navbars to be non-rounded.
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

//Saas Variables

$base-padding: 5px 0 20px 0;
$default-border: 10px;

//Saas
#headerBox { 
text-align:center;
padding:$base-padding;
border:(20px + $default-border) solid black;
}

