//- Hi! This is an example Jade file.
extends layouts/base_layout.jade
//- The '//-' at the start of these lines are comments that wont appear in the
//- generated HTML.

//-
    Here's a link to Jade's homepage that you should use as an additional reference
    http://jade-lang.com


//- The `extends` keyword in Jade is used to reusable template
    We'll cover this in more detail when building our Rdio clone.

//- The `block` keyword is used to plug content into sections of your template.
    We'll cover this in the Rdio clone.
block head

block body
  .container
    .row 
      .col-md-2.col-lg-2.col-sm-6.col-xs-12
        div(id="headerBox")
          |Span 2
      .col-md-3
        div(id="headerBox")
          |Span 3
      .col-md-7
        div(id="headerBox")
          |Span 7
    .row
      .col-md-4
        div(id="headerBox")
          |Span 4
      .col-md-4
        div(id="headerBox")
          |Span 4
      .col-md-4
        div(id="headerBox")
          |Span 4
    





















