//- Questions for Matt
1. In the album.scss did I anwser the question on Margin Vs. Padding correctly, and if not, why? 
2. See Jade Mixin's ( Album.jade/ln 38 ) If I wanted to throw a javascript variable in here (for a random time lets say), 
	would I insert the javascript under a .script tag the header, and then how to call that variable in code from Jade? 
	
