//- Questions for Matt
--- 5/17/14 Call  

1. In the album.scss did I anwser the question on Margin Vs. Padding correctly, and if not, why? 

2. See Jade Mixin's ( Album.jade/ln 38 ) If I wanted to throw a javascript variable in here (for a random time lets say), 
	would I insert the javascript under a .script tag the header, and then how to call that variable in code from Jade? 

3. Album View: See if the way I made the text float right was a good method, or was I putting a bandaid on another issue? 

4. I used an !important tag on _album_collection to remove the top border, and on the thumbnail to remove backgroundf and border, 
   was this correct? 

5.Take a look at Json Editor for future use. 

6. Ask about Git terminal commit issues (http://onetoshare.com/5gLP). Also, related : Pushing to git push origin master doesnt seem to work, 
but pushing to git push github master does. 

7. Issue with getting Jquery to work with current checkpoint. 

----5/24/2014 Call 

1. General : In JS, when setting a property, when to use sing quotes ('') and when to use doubles ("")? (Reference: http://onetoshare.com/i8VO)

2. OST : Look at photos.js, function addImage ( line 61 ) and discuss (e) parameter, and e.target. Lets discuss event delegation. 

3. General : Difference between document.querySelector and .querySelectorAll ( lets say for a class of .test)

4. Album.js line 63 : $songList.empty();  - does this clear the $songList element if there is anything in it? 

5. Album.js Line 96 : Take a peek at the click handler I built to handle the play button roll over, and see about buggyness. (When you roll over .songRow it replaces itself with itself, because of my use of $previous?... ideas on how to avoid this? 

6. OST : Look at Current Ajax Work and comment on. 



