//- Questions for Matt
1. In the album.scss did I anwser the question on Margin Vs. Padding correctly, and if not, why? 
2. See Jade Mixin's ( Album.jade/ln 38 ) If I wanted to throw a javascript variable in here (for a random time lets say), 
	would I insert the javascript under a .script tag the header, and then how to call that variable in code from Jade? 
3. Album View: See if the way I made the text float right was a good method, or was I putting a bandaid on another issue? 
4. I used an !important tag on _album_collection to remove the top border, and on the thumbnail to remove backgroundf and border, 
   was this correct? 
5.Take a look at Json Editor for future use. 
6. Ask about Git terminal commit issues (http://onetoshare.com/5gLP)
